:root {
  --blue01-color: rgb(0, 88, 138);
  --grey01-color: rgb(167, 169, 172);
  --blue04-color: rgb(84, 198, 211);
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*style navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.nav-links {
  display: flex;
  /* border: 1px solid black; */
}

nav {
  width: 100%;
  height: 12vh;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  display: inline-block;
  /* border: 1px solid black; */
}

.nav-links {
  list-style: none;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  font-family: "Gothic A1", sans-serif;
}

.nav-btn {
  display: none;
  cursor: pointer;
}

.nav-btn div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 950px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute; /*removing the element from the normal flow of the document then position with top,right,bottom...*/
    right: 0px;
    height: 50vh;
    top: 12vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 5;
  }

  .nav-links li {
    opacity: 1;
  }

  .nav-btn {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%); /*use toggle the navbar in js */
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*color of nav links background when hovered*/
.nav-item:hover,
.dropdown:hover {
  background-color: var(--grey01-color);
}

/*color of nav links when hovered*/
.nav-item:hover a {
  color: #000;
}

.logo img {
  width: 175px;
  vertical-align: middle;
}

/*----------- The navbar dropdown container --------------*/
.dropdown {
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #000;
  padding: 10px 15px;
  background-color: inherit;
  font-family: "Gothic A1", sans-serif; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 167px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: "Gothic A1", sans-serif;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*--------------showcase css--------------*/
.showcase {
  height: 91vh;
  width: 100%;
  background-size: 100%;
  background-image: url("../images/sunset03.jpg");
  background-size: cover;

  background-position: 50%;
  /* background-repeat: no-repeat; */
  /* background-color: var(--blue01-color); */
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* border: 1px solid black; */
  max-width: 60vw;
  height: 40vh;
  /* background-color: lightblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.showcase-text h1 {
  font-family: "Gothic A1", sans-serif;
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 0.5em;
}

.showcase-text p {
  font-weight: bold;
  text-align: center;
}

.showcase-text button {
  width: 120px;
  height: 40px;
  margin: 0 auto;

  display: block;
  margin-top: 50px;
  cursor: pointer;
}

/* MEDIA QUERIES - MEDIUM DEVICE 768PX */
@media only screen and (max-width: 678px) {
  .showcase-text h1 {
    font-size: 1.5rem;
  }
  .showcase-text p {
    font-size: 1rem;
  }
}

/* --------sponsor------------ */
.sponsors h1 {
  text-align: center;
  margin: 2rem 0;
}

.sponsors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
  height: 60%;
  margin: 0 auto;
  overflow: auto;
}

.sponsor-item {
  width: 200px;
  height: 200px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 18px 10px 60px;
}

.sponsor-item img {
  margin: 0;
}

.footer-container {
  /* border: 1px solid black; */
  height: 175px;
  background-color: var(--blue01-color);
  padding-top: 40px;
}

.footer-container h3,
p {
  margin-top: 15px;
  text-align: center;
  font-family: "Gothic A1", sans-serif;
  color: #fff;
}

/* .footer-container p {
  margin-top: 15px;
} */

/* ----------speakers page css----------- */
.speakers-section {
  display: flex;
  flex-direction: column;
}

.container-speakers {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* overflow-x: auto; */
  /* padding: 0 2vw; */

  margin-bottom: 15%;
  background: linear-gradient(
    to bottom,
    rgb(84, 198, 211) 0%,
    rgb(84, 198, 211) 25%,
    white 25%,
    white 100%
  );
}

.speakers-section h2 {
  background-color: var(--blue04-color);
  color: #fff;
  text-align: center;
  padding: 80px;
  font-family: "Gothic A1", sans-serif;
}

.container-speakers .card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  text-align: center;
  height: 490px;
  width: 355px;
  border: 25px solid #fff;
  position: relative;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  /* margin: 18px 10px 40px; */
  /* transition: transform 0.2s ease-in; */
  flex: 0 0 auto; /*flex-grow, flex-shrink, flex-basis*/
}

.container-speakers .card h3 {
  margin-top: 18px;
  margin-bottom: 8px;
}

.container-speakers .card p {
  color: #000;
  margin-top: 12px;
}

.speakers-social-media {
  position: absolute;
  bottom: 0;
}

.speakers-social-media a {
  color: #000;
  margin: 0 7px;
}

/* -------------------venue page css------------------- */
.container-grid {
  max-width: 1200px;
  margin: 40px auto;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.column {
  /* background-color: var(--grey01-color); */
  /* height: 400px; */
  padding: 2.2rem 2.2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* margin: 30px 0; */
  /* border: 1px solid black; */
}

.divider {
  height: 2px;
  width: 50%;
  border-bottom: 2px solid black;
  margin: 5% auto;
}

.column h2,
h4 {
  padding-bottom: 18px;
}

.venue-description {
  padding-bottom: 0.8rem;
  text-align: left;
  color: #000;
}

.col-two-thirds {
  flex: 2;
}

.column-img {
  background-size: cover;
}

.column-img-1 {
  background-image: url("../images/ravenala.jpg");
  /* background-size: cover; */
}

.column-img-2 {
  background-image: url("../images/university-mauritius.jpg");
  /* background-size: cover; */
}

.column-img-3 {
  background-image: url("../images/macon.jpg");
  /* background-size: cover; */
}

/* MEDIA QUERIES - MEDIUM DEVICE 768PX */
@media only screen and (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }

  .row-2 {
    flex-direction: column-reverse;
  }

  .column {
    flex-basis: 100%;
    /* min-height: 400px; */
  }

  .column-img {
    min-height: 400px;
    width: 100%;
  }
}

/* ----------Travel info css---------------- */
.info-container {
  display: flex;
  flex-direction: column;
  /* margin: 0 10px; */
  background-image: url(../images/SunsetSky06.jpg);
}

.info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 190px;
  /* background-color: lightblue; */
  margin: 0 10% 20px 10%;
  border-radius: 7px;
  background-color: #fff;
  opacity: 0.7;
}

.info-content-heading {
  margin: 30px auto;
}

.travel-icon {
  margin-top: 10px;
}

.info-content p {
  color: #000;
}

.map-direction h4,
.location-logo {
  position: absolute;
  z-index: 1;
}

.gmap_canvas {
  height: 100%;
}

.iframe {
  border-radius: 7px;
}

/* ----------accomodation css--------------- */
.accomodation-hotels {
  display: flex; /*recentAdd */
  flex-direction: column; /*recentAdd */
  overflow: hidden;
  position: relative; /*so that the arrow button position can be set to absolute for it not to take full height at height:100%*/
  /* height: 300px; */
}

.container-hotels {
  display: flex;
  /* width: 50vw; */
  /* justify-content: space-evenly; */
  /* flex-wrap: wrap; */
  overflow-x: auto;
  padding: 0 10vw;
  /* max-width: 80vw; */
}

/*disable browser scrollbar*/
.container-hotels::-webkit-scrollbar {
  display: none;
}

.accomodation-hotels h1 {
  text-align: center;
  margin: 3% auto;
  font-family: "Gothic A1", sans-serif;
  text-transform: uppercase;
}

.container-hotels .card {
  display: flex; /*recentAdd */
  flex-direction: column; /*recentAdd */
  text-align: center;
  height: 350px;
  width: 290px;
  background-color: var(--blue04-color);
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
  flex: 0 0 auto; /*flex-grow, flex-shrink, flex-basis*/
}

.container-hotels .card h4 {
  margin-top: 35px;
}

.container-hotels .card h4 a {
  text-decoration: none;
  color: #fff;
}

.container-hotels .card h4 a:hover {
  text-decoration: underline;
}

.container-hotels .card:hover {
  transform: translateY(-15px);
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 5;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

/* MEDIA QUERIES - MEDIUM DEVICE 768PX */
@media only screen and (max-width: 768px) {
  .pre-btn,
  .nxt-btn {
    display: none;
  }

  .container-hotels {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* ------------sightseeing----------- */
.container-sightseeing {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* overflow-x: auto; */
  /* padding: 0 2vw; */
  margin-bottom: 7%;
}

.sightseeing-section h2 {
  text-align: center;
  margin: 40px;
  font-family: "Gothic A1", sans-serif;
}

.container-sightseeing .card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  text-align: center;
  height: 400px;
  width: 355px;
  border: 25px solid #fff;
  position: relative;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  /* margin: 18px 10px 40px; */
  /* transition: transform 0.2s ease-in; */
  flex: 0 0 auto; /*flex-grow, flex-shrink, flex-basis*/
  transition: transform 0.2s ease-in;
}

.container-sightseeing .card h3 {
  margin-top: 35px;
  margin-bottom: 8px;
  text-decoration: none;
}

.container-sightseeing .card h3 a {
  text-decoration: none;
  color: #000;
}

.container-sightseeing .card h3 a:hover {
  color: var(--blue01-color);
}

.container-sightseeing .card:hover {
  transform: scale(1.1);
}
